#me {
    width: 100%;
}

#name {
    text-align: center;
    background-color: black;
    color: white;
    padding: 3%;
    font-size: 100px;
}

#hobby {
    text-align: center;
    background-color: black;
    color: white;
    padding: 3%;
    font-size: 50px;
}

table {
    width: 100%;
}

td {
    padding: 2%;
    font-size: 40px;
    text-align: center;
    width: 25%;
}

#sports {
    width: 800px;
    height: 600px;
    padding: 1%;
    align-items: baseline;
}

p {
    text-align: center;
}